{{#> layout }}

    {{#*inline "content"}}
        <div id='bottleContainer'>
            <img id='bottle' src={{bottleSrc}}>
        </div>
        <script>
            // Whatevs
            console.log('whatevs');
        </script>
    {{/inline}}

{{/layout}}
